.footer-company-info {
}

.footer-company-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.footer-company-desc {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.5em;
}

@media (min-width: 301px) and (max-width: 780px) {
  .footer-company-desc {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.0em;
  }
}

.footer-nav-links {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

.footer-email {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
