@font-face {
  font-family: 'Garota Sans';
  src: url('../fonts/garota_sans/GarotaSans-Regular-FFP.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.service-title {
  font-family: 'Garota Sans';
  font-weight: 400;
  font-style: normal;
}

.service-title-noweight {
  font-family: 'Garota Sans';
  font-style: normal;
}

.service-desc {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}